<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <!-- <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div> -->
  <app-input
    [inputType]="'text'"
    label="Username"
    [control]="usernameControl"
  ></app-input>
  <!-- TBI-->
  <!-- {{ authForm.get("username")?.errors | json }} -->
  <!-- <div class="field">
    <label>Password</label>
    <input formControlName="password" />
  </div> -->
  <app-input
    label="Password"
    [control]="passwordControl"
    [inputType]="'password'"
  ></app-input>
  <!-- {{ authForm.get("password")?.errors | json }} -->
  <!-- <div class="field">
    <label>Confirm Password</label>

    <input formControlName="passwordConfirmation" />
  </div> -->
  <app-input
    [inputType]="'password'"
    label="Confirm Password"
    [control]="passwordConfirmationControl"
  ></app-input>
  <!-- {{ authForm.get("passwordConfirmation")?.errors | json }} -->

  <div
    class="ui pointing red basic label"
    *ngIf="
      authForm.errors &&
      authForm.get('password').touched &&
      authForm.get('passwordConfirmation').touched &&
      authForm.errors['passwordNotMatch']
    "
  >
    Password not matching !
  </div>
  <br /><br />
  <button class="ui submit button primary">Submit</button>

  <!-- {{ authForm.errors | json }} -->
</form>
